@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Basic styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100vw;
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1080 - 320)));
  }
}
@media screen and (min-width: 1080px) {
  body {
    font-size: 16px;
  }
}

main {
  height: 100%;
  margin: 3rem;
}

/* Header and nav styles */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 8rem;
  padding: 0 3rem;
  background-color: #fff;
}
header nav ul {
  padding: 0;
}
header nav li {
  display: inline-block;
  margin: 5px;
}
header nav a {
  position: relative;
  padding: 5px 3px;
  color: rgb(212, 72, 72);
  text-decoration: none;
  transition: color 0.3s;
}
header nav a:before {
  content: "";
  position: absolute;
  background-color: rgb(168, 56, 56);
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: all 0.3s;
}
header nav a:hover,
header nav a:focus {
  color: rgb(168, 56, 56);
}
header nav a:hover:before,
header nav a:focus:before {
  width: 100%;
}

/* Heading styles */
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h1 + p {
  max-width: 600px;
}

h2 {
  margin-top: 6rem;
  margin-bottom: 2.5rem;
  padding-bottom: 0.8rem;
  font-size: 2.3rem;
  font-weight: 300;
  border-bottom: 1px solid rgb(224, 224, 224);
}

h3 {
  margin-bottom: 1rem;
  color: rgb(121, 121, 121);
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

/* Paragraph styles */
p {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

p.large {
  font-size: 1.5rem;
}

/* Blockquote styles */
blockquote {
  background: rgb(245, 245, 245);
  border-left: 10px solid rgb(212, 72, 72);
  margin-top: 5rem;
  padding: 3rem 2rem;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  font-size: 2rem;
  font-weight: 300;
}

blockquote:before {
  content: open-quote;
  color: rgb(212, 72, 72);
  font-size: 10rem;
  line-height: 0.1rem;
  margin-right: 1.5rem;
  vertical-align: -2.6rem;
}

blockquote span {
  display: block;
  margin-top: 2rem;
  font-size: 0.8rem;
}

/* Image styles */
img {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 5rem;
}

@media screen and (min-width: 320px) {
  img {
    max-width: 80%;
  }
}
@media screen and (min-width: 800px) {
  img {
    max-width: 80%;
  }
}

img.border {
  border: 1px solid rgb(224, 224, 224);
}

/* Footer styles */
footer {
  margin: 3rem;
  margin-top: 5rem;
  padding: 2rem 0 3rem;
  border-top: 1px solid rgb(224, 224, 224);
}

footer h3 {
  color: rgb(0, 0, 0);
}

footer p a {
  display: block;
  margin: 1rem 0;
  color: rgb(136, 136, 136);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

footer p a:hover {
  color: rgb(212, 72, 72);
}
